* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html.smooth-scroll {
  scroll-behavior: smooth;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  background: linear-gradient(
      180deg,
      rgba(13, 19, 73) 10%,
      rgba(38, 49, 121, 1) 30%,
      rgba(139, 155, 215, 1) 60%,
      rgba(255, 255, 255, 1) 100%
    )
    no-repeat;
  height: 100vh;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo a {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 0;
  color: #fff;
  text-decoration: none;
}

.logo img {
  width: 30px;
  height: auto;
}

nav ul {
  display: flex;
  gap: 20px;
  list-style: none;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  height: 80vh;
  margin-top: 40px;
  color: #fff;
}

.hero h1 {
  font-size: 1.75rem;
}

.hero img {
  width: 100%;
  height: auto;
}

.hero button {
  padding: 15px 20px;
  background-color: #0071e3;
  border: none;
  border-radius: 50px;
  cursor: pointer;
}

.hero button:hover {
  background-color: #005bb5;
}

.hero button a {
  color: #fff;
  font-size: 16px;
  text-decoration: none;
}

.overview,
.specs,
.camera {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.overview h2,
.specs h2,
.camera h2 {
  font-size: 3.5rem;
}

.overview p,
.specs p,
.camera p {
  font-size: 1.25rem;
  margin-top: 20px;
}

.overview-grid,
.specs-grid,
.camera-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-top: 40px;
}

.specs-grid {
  gap: 40px;
}

.overview-item,
.camera-item {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 30px;
  background-color: #f6f5f8;
  border-radius: 10px;
}

.overview-item h3,
.specs h3 {
  font-size: 1.5rem;
}

.overview-item img,
.camera-item video {
  width: 100%;
  border-radius: 10px;
  height: 200px;
  object-fit: cover;
}

.specs img,
.camera video {
  width: 100%;
  height: auto;
}

.camera-background {
  width: 100%;
  height: 100vh;
  background-image: url("../images/iphone-16-camera-1.png");
  background-size: cover;
  background-position: center;
}

.camera h2 {
  margin-top: 40px;
}

.footer-content {
  display: flex;
  align-items: center;
  height: 10vh;
  border-top: 1px solid #dadada;
  margin-top: 40px;
  justify-content: center;
}

@media (max-width: 768px) {
  .header-container {
    flex-direction: column;
    gap: 20px;
  }

  nav ul {
    flex-direction: column;
    gap: 20px;
  }

  .hero {
    height: 100vh;
  }

  .hero h1 {
    font-size: 2rem;
  }

  .overview-grid,
  .specs-grid,
  .camera-grid {
    grid-template-columns: 1fr;
  }

  .overview-item,
  .camera-item {
    padding: 20px;
  }

  .camera-background {
    height: 100vh;
  }
}

@media (max-width: 480px) {
  .hero h1 {
    font-size: 1.5rem;
  }

  .overview h2,
  .specs h2,
  .camera h2 {
    font-size: 1.25rem;
  }

  .overview p,
  .specs p,
  .camera p {
    font-size: 0.75rem;
  }

  .overview-item h3,
  .specs h3 {
    font-size: 1rem;
  }

  .overview-item img,
  .camera-item video {
    height: 150px;
  }

  .hero button {
    padding: 10px 15px;
    background-color: #0071e3;
    border: none;
    border-radius: 50px;
    cursor: pointer;
  }

  .hero button a {
    font-size: 0.75rem;
  }

  .camera-background {
    height: 100vh;
  }
}
